:root {
    --primary-color: #16a596;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #242333;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    color: white;
}



h1 {
    color: var(--primary-color);
}

p {
    text-align: center;
}

.btn {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-family: sans-serif;
    padding: 10px 15px;
}

.money-img {
    width: 150px;
}

.currency {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency select {
    padding: 10px 20px 10px 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid var(--primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #242333;
    color: #f6f5f1;
    font-size: 16px;

}

.currency input {
    border: 0;
    background: transparent;
    font-size: 30px;
    text-align: right;
    color: #f6f5f1;
    border-bottom: 2px solid var(--primary-color);
    width: 70%;
    
}

.swap-rate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.rate {
    color: var(--primary-color);
    font-size: 14px;
    padding: 0 10px;
}

select:focus,
input:focus,
button:focus {
    outline: 0;
}

@media (max-width: 600px) {
    .currency input {
    width: 200px;
}
}
